/* navigation */
nav{
    background-color: rgba(25, 47, 68,0.493);
}
.nav-scrolled{ /*this applies on the js*/
    background-color: rgb(25, 47, 68);
}
#n-btn{
    background-color: rgb(254, 235, 97);
}
#offcanvasNavbar{
    background-color: rgb(25, 47, 68);
}
#brand img{
    width: 40px;
}

/* banner carousel*/
#image{
    width:100%;
}

/* Activities */
#img1{
    width:100%;
    height: 180px;
    border-radius:10px;
}
.view-places{
    color: rgb(125, 173, 63);
}
.act-container-plan{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.act-container-plan a{
    background-color: rgb(236, 234, 234);
}
.act-container-plan a:hover{
    background-color: rgb(236, 234, 234);
    transform: scale(1.02);
    box-shadow: 0 0 10px #6e6e6e;
}
.grid-inner-content{
    display: grid;
    grid-template-columns: 1fr;
}

/* promos */
.promo-col img{
    width: 100%;
    padding: 10px;
}

/* about */
.banner {
  position: relative;
  height: 500px;
}

.banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
.banner-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(30, 32, 32);
  text-shadow: 0 0 3px rgb(231, 231, 231);
}

.banner-content h1 {
  font-size: 2em;
  margin: 0;
  padding: 0;
}

.banner-content p {
  font-size: 20px;
  margin-top: 1em;
  line-height: 1.5;
}
/* footer */
.footer{
    background-color:rgb(25, 47, 68);
}
#first-grid{
    margin: auto;
}
#fourth-grid{
    padding-top: 47px;
}
#fifth-grid{
    background-color: rgb(125, 173, 63);
    display: flex;
    justify-content: center;
}
#first-grid img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#first-grid h5{
    text-align: center;
}
/* ------------------------------------------------------------------------------------ */


/* responsive css */
@media screen and (max-width:990px){
    /* offcanvas */
    #menu-logo{
        width:40px;
    }
    
    /* banner carousel */
    #image{
        width:100%;
        height: 300px;
    }

    
    /* Activities */
    .title-activities{
        text-align: center;
    }
    .act-container-plan{
        display:grid;
        grid-template-columns:1fr 1fr;
        gap: 20px;
    }
    
    /* promo */
    .title-promo{
        text-align: center;
    }
    #promo-container{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    .promo-col img{
        padding:3px;
    }

    /* about */
    .banner-content{
        top: 50%;
    }
    .banner-content h1 {
        font-size: 25px;
        margin: 0;
        padding: 0;
      }
      
      .banner-content p {
        font-size: 15px;
        margin-top: 1em;
        line-height: 1.3;
      }
    
    /* footer */
    #first-grid img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #first-grid h5{
        font-size: 20px;
        text-align: center;
    }
}
    
@media screen and (max-width:555px) {
    /* navbar */
    #brand img{
        width: 35px;
    }
    #menu-btn{
        border:none;
    }
    #menu-btn span{
        width: 25px;
    }
    
    /* offcanvas menu */
    #offcanvasNavbar{
        width: 300px;
    }
    #menu-logo{
        width:35px
    }
    
    /* banner */
    #image{
        width:100%;
        height: 250px;
    }
    
    /* Activities */
    .act-container-plan{
        display: grid;
        grid-template-columns: 1fr;
    }
    .grid-inner-content{
        display: grid;
        grid-template-columns: 1fr;
        
    }
    #img1{
        width: 100%;
        height: 280px;
    }
    
    
    /* footer */
    #footer-grid{
        display:grid;
        grid-template-columns: 1fr;
    }
    #first-grid{
        width: auto;
        margin-top: 15px;
    }
    #second-grid{
        width: auto;
    }
    #footer-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #first-grid{
        grid-column: 1/3;
    }
    #fourth-grid{
        grid-column: 1/3;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        padding-top: px;
    }
    #fifth-grid{
        grid-column: 1/3;
    }
}

@media screen and (max-width:430px) {
    /* navbar */
    nav{
        height: 60px;
        width: 100%;
    }
    #brand{
        font-size: 18px;
    }
    #brand img{
        width: 30px;
    }
    
    /* banner */
    #image{
        width:100%;
        height: 200px;
    }
    
    /* Activities */
    .act-container-plan{
        display: grid;
        grid-template-columns: 1fr;
    }
    .grid-inner-content{
        display: grid;
        grid-template-columns: 1fr;
        
    }
    #img1{
        width: 100%;
        height: 200px;
    }
    
    /* promos */
    .title-promo{
        text-align: center;
    }
    #promo-container{
        display:grid;
        grid-template-columns: 1fr;
    }
    
    /* footer */
    #footer-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #first-grid{
        grid-column: 1/3;
    }
    #fourth-grid{
        grid-column: 1/3;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    #fifth-grid{
        grid-column: 1/3;
    }
}


